#title {
    font-weight: 700;
    font-size: 2rem;
}

#search-button {
    width: 48px;
    height: 48px;
}

#search-text-input {
    width: 80%;
}

@media screen and (min-width: 768px) {
    #title {
        font-size: 4rem;
    }
}