#back-button {
    width: 48px;
    height: 48px;
}
#search-results-title-header {
    margin-left: 1rem;
    font-size: 4rem;
}
.pagination-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagination-text {
    margin-right: 16px;
}
#pagination-div-group {
    display: flex;
    align-items: center;
}