{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container"> 
    <div id="content">
        <h1 id="title">Song Lyrics Search Engine</h1>

        <form id="search-song-lyrics-form" action="/search/page=1" method="POST">
            <div class="input-group">
                <input id="search-text-input" type="text" name="q" class="form-control" placeholder="Search for a Song / Song Lyrics">
                <span class="input-group-append">
                    <button class="btn btn-primary" id="search-button" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>

            <div class="input-group" id="advanced-filters-container">
                <!-- Unsure what appropriate choices should there be (in form of checkboxes?) -->
                <input type="text" name="" class="form-control" placeholder="Filter by Genre">
                <input type="text" name="" class="form-control" placeholder="Filter by Artist">
                <input type="text" name="" class="form-control" placeholder="Filter by Date of Release">
                <input type="text" name="" class="form-control" placeholder="Filter by Popularity">


            </div>

        </form>

        
    </div> 
 </div>

{% endblock %}